  <div id="page">
    <div id="header">
    </div> 
    <div id="components">
      <% @components.each do |component| %>
        <div id = "<%= component.id %>" class ="component" style="top:<%= component.top %>px;left:<%= component.left %>px;width:<%= component.width %>px;height:<%= component.height %>px; position: relative;">
           <%= render component %>
        </div>
      <% end %>
    </div>
  </div>

<script>
  var pathname = window.location.pathname;
  if (pathname.indexOf("admin") < 0){
    $('.edit').hide();
  }
</script>
