<!DOCTYPE html>
<html>
  <head>
    <title>The Simplest CMS in the world</title>
    <%= stylesheet_link_tag %w[application jquery-ui] %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <h1>
        <%= @cmspage.title %>
      </h1>
      <div id="menubar">
        <% @cmspages.each do |cmspage| %>
          <%= link_to cmspage.title, cmspage %>
        <%end%>
        <%= link_to "blog", blog_path %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
